In [2]:
import pandas as pd

In [3]:
lung_data = pd.read_csv('/scratch/project1/plco/lung_prsn.csv')

In [4]:
lung_data

,reasfolll,reassympl,reassurvl,reasothl,num_cancl,reasothl_txt,lung_cancer,intstatl_cat,lung_stage,lung_stage_7e,...,arm,sex,age,agelevel,dual,reconsent_outcome,reconsent_outcome_days,fstcan_exitstat,fstcan_exitage,fstcan_exitdays
0,NaN,NaN,NaN,NaN,0,NaN,0,0,NaN,NaN,...,1,1,67,2,1,2,5336,8,80,4794
1,NaN,NaN,NaN,NaN,0,NaN,0,0,NaN,NaN,...,1,1,62,1,0,1,4759,8,72,3873
2,NaN,NaN,NaN,NaN,0,NaN,0,0,NaN,NaN,...,2,1,62,1,0,1,4658,8,74,4123
3,NaN,NaN,NaN,NaN,0,NaN,0,0,NaN,NaN,...,2,2,74,3,0,5,5621,8,87,4672
4,NaN,NaN,NaN,NaN,0,NaN,0,0,NaN,NaN,...,2,2,63,1,0,1,4106,8,72,3386
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154882,NaN,NaN,NaN,NaN,0,NaN,0,0,NaN,NaN,...,2,1,58,0,0,1,4767,8,69,4207
154883,NaN,NaN,NaN,NaN,0,NaN,0,0,NaN,NaN,...,2,1,62,1,0,3,6054,1,73,3994
154884,NaN,NaN,NaN,NaN,0,NaN,0,0,NaN,NaN,...,2,1,72,3,0,12,2152,5,78,2152
154885,0.0,0.0,NaN,1.0,1,Abnormal chest xray,1,1,110.0,110.0,...,2,2,62,1,0,12,4524,1,63,250
154886,NaN,NaN,NaN,NaN,0,NaN,0,0,NaN,NaN,...,2,2,57,0,0,12,1579,5,62,1579